$agm-line-width: 2px;

.agm-hr {
  height: $agm-line-width;
  border: none;
  background: var(--agm-bg-color);
  margin: 0.5rem 3.5rem;
}

table[class*="agm-table"] {
  display: table;
  width: 100%;
  text-align: left;
  font-size: 14px;
}
