$agm-line-width: 2px;

.agm-hr {
  height: $agm-line-width;
  border: none;
  background: white;
  margin: 0.5rem 3.5rem;
}

$agm-table-border-color: #f0f0f0;

table[class*="agm-table"] {
  display: table;
  width: 100%;
  text-align: left;
  font-size: 14px;

  border: 1px solid $agm-table-border-color;

  tr:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.01);
  }

  th {
    background: rgba(0, 0, 0, 0.04);
    border-color: $agm-table-border-color;
  }

  td {
    border-width: 1px 0;
    border-color: $agm-table-border-color;
  }
}
