.agm-menu {
  position: relative;
}

.agm-menu-items {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  z-index: 10;
}

.slide-fade-enter-active {
  transition: all 0.4s ease;
}
.slide-fade-leave-active {
  transition: all 0.4s ease;
}
.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateY(-10px);
  opacity: 0;
}
