@import "../styles/variables/index.scss";

.agm-dialog {
  position: absolute;
  top: 6rem;
  left: 6rem;
  right: 6rem;
  bottom: 8rem;
  background: white;
  box-shadow: $box-shadow-light;
  border-radius: 0.2rem;
  z-index: 99;

  &--header {
    display: flex;
    background-color: #eee;
    padding: 0.5rem;
    justify-content: space-between;
  }

  &--title {
    display: inline-flex;
    color: #666;
  }

  &--action {
    display: inline-flex;
    align-items: center;
    gap: 0.4rem;
  }

  &--body {
    padding: 1rem;
  }

  &__fullscreenBtn,
  &__closeBtn {
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 50%;

    border: none;
    outline: none;
    padding: 0;

    color: transparent;
    font-size: 0.6rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    transition: 0.1s;
    &:hover {
      cursor: pointer;
      color: black;
    }
  }

  &__fullscreenBtn {
    background-color: var(--agm-success);
  }

  &__closeBtn {
    background-color: var(--agm-danger);
  }
}

// fade
.agm-dialog-fade {
  &-enter-active {
    animation: modal-fade-in 0.3s !important;
    .agm-dialog {
      animation: dialog-fade-in 0.3s;
    }
  }

  &-leave-active {
    animation: modal-fade-out 0.3s;
    .agm-dialog {
      animation: dialog-fade-out 0.3s;
    }
  }
}

@keyframes dialog-fade-in {
  0% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes dialog-fade-out {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
}

@keyframes modal-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes modal-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
