@import "../html/";
@import "../color/";
@import "variables";
@import "reset";
@import "mixins";
@import "common";

@import "components";

:root {
  --agm-brand: #{$agm-brand};
  --agm-primary: #{$agm-brand};
  --agm-success: #{$agm-success};
  --agm-warning: #{$agm-warning};
  --agm-danger: #{$agm-danger};
  --agm-info: #{$agm-info};
  --agm-tooltip: #{$agm-tooltip};
}
