@use "../color/" as *;
@use "../html/" as *;
@use "variables" as *;
@use "reset";
@use "global";

@use "mixins" as *;
@use "common";

@use "components";

:root {
  --agm-color-brand: #{$agm-brand};
  --agm-color-primary: #{$agm-brand};
  --agm-color-success: #{$agm-success};
  --agm-color-warning: #{$agm-warning};
  --agm-color-danger: #{$agm-danger};
  --agm-color-info: #{$agm-info};
  --agm-color-tooltip: #{$agm-tooltip};
}
