.agm-indicator {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  height: 6rem;
  margin: 0.5rem;
  filter: drop-shadow(0 1px 3px currentColor);

  &__title {
    margin: 0;
    color: white;
  }

  &__info {
    padding: 0.3rem 1rem;
    text-align: center;
    color: #666666;
    line-height: 1;
    background: white;
    min-width: 5rem;
    font-size: 1.1rem;
    font-weight: bold;
  }

  &__cursor {
    position: absolute;
    margin: 0 auto;
    top: 4.5rem;
    left: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 1.2rem solid white;
    border-color: white transparent transparent transparent;
  }
}
