.agm-icon {
  font-size: inherit;
  color: inherit;
  fill: currentColor;

  height: 1em;
  width: 1em;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 0.5em;
    height: 0.5em;
  }
}
