@import "../variables";

.agm-dialog {
  position: absolute;
  top: 6rem;
  left: 6rem;
  right: 6rem;
  bottom: 8rem;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: $box-shadow-light;
  border-radius: 0.2rem;

  &__fullscreenBtn,
  &__closeBtn {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;

    border: none;
    outline: none;

    &:hover {
      cursor: pointer;
    }
  }

  &__fullscreenBtn {
    position: absolute;
    top: -1rem;
    right: 1rem;

    background-color: var(--agm-success);
  }

  &__closeBtn {
    position: absolute;
    top: -1rem;
    right: 0;

    background-color: var(--agm-error);
  }
}
