.agm-button {
  --agm-button-bg-color: white;
  --agm-button-text-color: rgba(55, 65, 81, var(--un-text-opacity));
}

.agm-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  color: var(--agm-button-text-color);
  background-color: var(--agm-button-bg-color);

  font-size: 1rem;
  line-height: 1;

  &:active {
    box-shadow: 0 0 20px rgba(var(--un-shadow-color, 31, 82, 144), 0.15);
  }

  &.agm-button--icon {
    box-sizing: border-box;
    border-radius: 50%;
    padding: 0.5rem;
    font-size: 1.2rem;
  }
}

.dark {
  .agm-button {
    --agm-button-bg-color: black;
    --agm-button-text-color: white;
  }
}