@mixin button-type($type) {
  &--#{$type} {
    color: white;
    background-color: var(--agm-#{$type});

    &:hover {
      box-shadow: 0 0 10px var(--agm-#{$type});
    }

    &.is-outline {
      color: var(--agm-#{$type});
      border: 1px solid var(--agm-#{$type});
      background-color: white;
    }
  }
}

.agm-button {
  font-size: 1rem;
  line-height: 1;

  &:active {
    box-shadow: 0 0 20px rgba(31, 82, 144, 0.15);
  }

  &--icon {
    box-sizing: border-box;
    border-radius: 50%;
    padding: 0.6rem;
    font-size: 1rem;
  }
}
