@import "../styles/mixins";

$--input-height: 40px !default;
$--input-placeholder-color: #ccc !default;
$--input-hover-border: $--input-placeholder-color;

.agm-input {
  position: relative;
  font-size: 1rem;
  display: inline-block;
  width: 100%;
  line-height: $--input-height;

  &::placeholder {
    color: $--input-placeholder-color;
  }

  &:hover {
    border-color: $--input-hover-border;
  }

  &__inner {
    -webkit-appearance: none;
    background-color: transparent;
    background-image: none;
    border-radius: 4px;
    border: 1px solid lightgray;
    box-sizing: border-box;
    color: black;
    display: inline-block;
    font-size: inherit;
    height: $--input-height;
    line-height: $--input-height;
    outline: none;
    padding: 0 15px;
    transition: 0.2s;
    width: 100%;

    &:focus {
      outline: none;
      border-color: black;
    }
  }

  @include when(disabled) {
    .agm-input__inner {
      background-color: #eee;
    }
  }
}
