@use "@augma/components/styles/mixins" as *;

$--input-height: 40px !default;
$--input-placeholder-color: #ccc !default;
$--input-hover-border: $--input-placeholder-color;

.agm-input {
  position: relative;
  font-size: 1rem;
  display: inline-flex;
  width: 100%;
  line-height: $--input-height;

  input::placeholder {
    color: $--input-placeholder-color;
  }

  &:hover {
    border-color: $--input-hover-border;
  }

  // has suffix
  &--suffix {
    .agm-input__inner {
      padding-right: 1.8rem;
    }
  }

  // suffix container
  &__suffix {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    transition: all 0.3s;
    cursor: pointer;
  }

  &__inner {
    -webkit-appearance: none;
    background-color: transparent;
    background-image: none;
    border-radius: 2px;
    border: 1px solid lightgray;
    box-sizing: border-box;
    color: black;
    display: inline-flex;
    font-size: inherit;
    outline: none;
    padding: 0.5rem 1rem;
    transition: 0.2s;
    width: 100%;

    &:focus {
      outline: none;
      border-color: black;
    }

    &__clear {
      color: inherit;
      font-size: inherit;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        color: var(--agm-color-primary);
      }
    }
  }

  @include when(disabled) {
    .agm-input__inner {
      color: #666;
      background-color: #eee;
    }
  }
}
