body {
  margin: 0;
  padding: 0;

  background-color: rgba(0, 0, 0, 0.9);
}

#app {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  padding: 0;
  line-height: 0;
}
